<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="formulario">
    <form>
      <ion-item>
      <ion-label position="floating">Barrios</ion-label>
      <ion-select
        placeholder="Seleccione el Barrio"
        (ngModelChange)="ordenarBarrios($event)" name="ordenar" [(ngModel)]="ordenarOption"
      >
        <ion-select-option
        *ngFor="let option of options" value="{{option.neighbor_id}}"
          >{{option.name}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    </form>
  </div>
  <div id="mapa"></div>
</ion-content>
