<ion-header>
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-list-header> </ion-list-header>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input
          placeholder="Digite su Nombre"
          formControlName="name"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input
          placeholder="Digite su Nombre"
          formControlName="surname"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tipo de Infraestucutura</ion-label>
        <ion-select
          placeholder="Seleccione el Tipo de Infraestucutura"
          formControlName="infrastructure_id"
        >
          <ion-select-option
            *ngFor="let infraestucture of infraestuctures"
            [value]="infraestucture.id"
            >{{infraestucture.name}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Codigo Infraestructura</ion-label>
        <ion-input
          placeholder="Digite el codigo de la Infraestructura"
          formControlName="in_code"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tipo de problema</ion-label>
        <ion-select
          placeholder="Seleccione el Tipo de Problema"
          formControlName="problem_id"
        >
          <ion-select-option
            *ngFor="let problem of problems"
            [value]="problem.id"
            >{{problem.problem}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tipo de problema</ion-label>
        <ion-select
          placeholder="Seleccione el Barrio"
          formControlName="neighbor_id"
        >
          <ion-select-option
            *ngFor="let neighbor of neighbors"
            [value]="neighbor.id"
            >{{neighbor.name}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dirrecion</ion-label>
        <ion-input
          placeholder="Digite la Dirrecion"
          formControlName="address"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Problema</ion-label>
        <ion-input
          placeholder="Haga una descripcion del problema"
          formControlName="issue"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input
          placeholder="Digite un telefono"
          formControlName="phone"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <div id="mapa2"></div>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="click()">Enviar</ion-button>
  </form>
</ion-content>
